%section.contact.spad.order-success
  .container
    .row
      .col-lg-4.col-md-4
      .col-lg-4.col-md-4
        .contact__content
          .contact__address
            %h5 Create order successfully
      .col-lg-4.col-md-4