%section.contact.spad
  .container
    .row
      .col-lg-6.col-md-6
        .contact__content
          .contact__address
            %h5 Contact info
            %ul
              %li
                %h6
                  = image_tag("address.png", alt: 'seacrh', width: "15px", height: "20px")
                  Address
                %p=app_setting.address
              %li
                %h6
                  = image_tag("phone.png", alt: 'seacrh', width: "15px", height: "20px")
                  Phone
                %p
                  %span=app_setting.phone
              %li
                %h6
                  = image_tag("payment.png", alt: 'seacrh', width: "15px", height: "15px")
                  Support
                %p=app_setting.email
          .contact__form
            %h5 SEND MESSAGE
            %form{:action => "#"}
              %input{:placeholder => "Name", :type => "text"}/
              %input{:placeholder => "Email", :type => "text"}/
              %textarea{:placeholder => "Message"}
              %button.site-btn{:type => "submit"} Send Message
      .col-lg-6.col-md-6
        .contact__map
          %iframe{:allowfullscreen => "", :height => "780", :src => app_setting.google_map, :style => "border:0"}
