- content_for(:tab, "home")

%section.categories
  .container-fluid
    .row
      .col-lg-6.p-0
        = render partial: 'category_large', locals: { category: Category.first }
      .col-lg-6
        .row
          = render partial: 'category', collection: Category.last(4), as: :category

= render partial: 'filter_product'

%section.banner.set-bg{"data-setbg" => "/ashion/img/banner/banner-1.jpg"}

-# %section.trend.spad
-#   .container
-#     .row
-#       .col-lg-4.col-md-4.col-sm-6
-#         .trend__content
-#           .section-title
-#             %h4 Hot Trend
-#           .trend__item
-#             .trend__item__pic
-#               %img{:alt => "", :src => "/ashion/img/trend/xht-1.jpg.pagespeed.ic.egi4bL3t5c.webp"}/
-#             .trend__item__text
-#               %h6 Chain bucket bag
-#               .product__price $ 59.0
-#           .trend__item
-#             .trend__item__pic
-#               %img{:alt => "", :src => "/ashion/img/trend/xht-2.jpg.pagespeed.ic.3YjuD2AOub.webp"}/
-#             .trend__item__text
-#               %h6 Pendant earrings
-#               .product__price $ 59.0
-#           .trend__item
-#             .trend__item__pic
-#               %img{:alt => "", :src => "/ashion/img/trend/xht-3.jpg.pagespeed.ic.fw_LsIXAiZ.webp"}/
-#             .trend__item__text
-#               %h6 Cotton T-Shirt
-#               .product__price $ 59.0
-#       .col-lg-4.col-md-4.col-sm-6
-#         .trend__content
-#           .section-title
-#             %h4 Best seller
-#           .trend__item
-#             .trend__item__pic
-#               %img{:alt => "", :src => "/ashion/img/trend/xbs-1.jpg.pagespeed.ic.mJ3HA8np2n.webp"}/
-#             .trend__item__text
-#               %h6 Cotton T-Shirt
-#               .product__price $ 59.0
-#           .trend__item
-#             .trend__item__pic
-#               %img{:alt => "", :src => "/ashion/img/trend/xbs-2.jpg.pagespeed.ic.oPC5eRYONC.webp"}/
-#             .trend__item__text
-#               %h6
-#                 Zip-pockets pebbled tote
-#                 = succeed "briefcase" do
-#                   %br/
-#               .product__price $ 59.0
-#           .trend__item
-#             .trend__item__pic
-#               %img{:alt => "", :src => "/ashion/img/trend/xbs-3.jpg.pagespeed.ic.UbErREAs1-.webp"}/
-#             .trend__item__text
-#               %h6 Round leather bag
-#               .product__price $ 59.0
-#       .col-lg-4.col-md-4.col-sm-6
-#         .trend__content
-#           .section-title
-#             %h4 Feature
-#           .trend__item
-#             .trend__item__pic
-#               %img{:alt => "", :src => "/ashion/img/trend/xf-1.jpg.pagespeed.ic.Q7t675Gcer.webp"}/
-#             .trend__item__text
-#               %h6 Bow wrap skirt
-#               .product__price $ 59.0
-#           .trend__item
-#             .trend__item__pic
-#               %img{:alt => "", :src => "/ashion/img/trend/xf-2.jpg.pagespeed.ic.LE7FQXfxeP.webp"}/
-#             .trend__item__text
-#               %h6 Metallic earrings
-#               .product__price $ 59.0
-#           .trend__item
-#             .trend__item__pic
-#               %img{:alt => "", :src => "/ashion/img/trend/xf-3.jpg.pagespeed.ic.larkQpUfvs.webp"}/
-#             .trend__item__text
-#               %h6 Flap cross-body bag
-#               .product__price $ 59.0
-# %section.services.spad
-#   .container
-#     .row
-#       .col-lg-3.col-md-4.col-sm-6
-#         .services__item
-#           = image_tag("free_ship.png", alt: 'seacrh', width: "41px", height: "36px")
-#           %h6 Free Shipping
-#           %p For all oder over $99
-#       .col-lg-3.col-md-4.col-sm-6
-#         .services__item
-#           = image_tag("money.png", alt: 'seacrh', width: "45px", height: "33px")
-#           %h6 Money Back Guarantee
-#           %p If good have Problems
-#       .col-lg-3.col-md-4.col-sm-6
-#         .services__item
-#           = image_tag("support.png", alt: 'seacrh', width: "40px", height: "40px")
-#           %h6 Online Support 24/7
-#           %p Dedicated support
-#       .col-lg-3.col-md-4.col-sm-6
-#         .services__item
-#           = image_tag("payment.png", alt: 'seacrh', width: "36px", height: "33px")
-#           %h6 Payment Secure
-#           %p 100% secure payment
-# .instagram
-#   .container-fluid
-#     .row
-#       .col-lg-2.col-md-4.col-sm-4.p-0
-#         .instagram__item.set-bg{"data-setbg" => "/ashion/img/instagram/insta-1.jpg"}
-#           .instagram__text
-#             = image_tag("ins.png", alt: 'seacrh', width: "30px", height: "30px")
-#             %a{:href => "#"} @ ashion_shop
-#       .col-lg-2.col-md-4.col-sm-4.p-0
-#         .instagram__item.set-bg{"data-setbg" => "/ashion/img/instagram/insta-2.jpg"}
-#           .instagram__text
-#             = image_tag("ins.png", alt: 'seacrh', width: "30px", height: "30px")
-#             %a{:href => "#"} @ ashion_shop
-#       .col-lg-2.col-md-4.col-sm-4.p-0
-#         .instagram__item.set-bg{"data-setbg" => "/ashion/img/instagram/insta-3.jpg"}
-#           .instagram__text
-#             = image_tag("ins.png", alt: 'seacrh', width: "30px", height: "30px")
-#             %a{:href => "#"} @ ashion_shop
-#       .col-lg-2.col-md-4.col-sm-4.p-0
-#         .instagram__item.set-bg{"data-setbg" => "/ashion/img/instagram/insta-4.jpg"}
-#           .instagram__text
-#             = image_tag("ins.png", alt: 'seacrh', width: "30px", height: "30px")
-#             %a{:href => "#"} @ ashion_shop
-#       .col-lg-2.col-md-4.col-sm-4.p-0
-#         .instagram__item.set-bg{"data-setbg" => "/ashion/img/instagram/insta-5.jpg"}
-#           .instagram__text
-#             = image_tag("ins.png", alt: 'seacrh', width: "30px", height: "30px")
-#             %a{:href => "#"} @ ashion_shop
-#       .col-lg-2.col-md-4.col-sm-4.p-0
-#         .instagram__item.set-bg{"data-setbg" => "/ashion/img/instagram/insta-6.jpg"}
-#           .instagram__text
-#             = image_tag("ins.png", alt: 'seacrh', width: "30px", height: "30px")
-#             %a{:href => "#"} @ ashion_shop