.footer__newslatter > form > input {
  height: 52px;
  width: 100%;
  border: 1px solid #e1e1e1;
  border-radius: 50px;
  padding-left: 30px;
  font-size: 14px;
  color: #666;
}

.cart__btn a {
  color: #f4364c;
}

.site-btn {
  height: 45px;
}

.primary-btn {
  color: white !important;
}
