.search-model-form { 
  width: 500px !important;
}

.search-model {
  background-image: asset-url("bg_search.png");
}

.seach-input {
  font-size: 20px !important;
  font-weight: 500 !important;
  color: black !important;
  text-align: center;
}