- content_for(:tab, "cart")

%section.shop-cart.spad
  .container
    .row
      .col-lg-12
        .shop__cart__table
          %table
            %thead
              %tr
                %th Product
                %th Price
                %th Quantity
                %th Total
                %th
            %tbody.js-list-order

    .row
      .col-lg-6.col-md-6.col-sm-6
        .cart__btn
          %a{:href => "/products"} Continue Shopping

    .row
      .col-lg-6
      .col-lg-4.offset-lg-2
        .cart__total__procced
          %h6 Cart total
          %ul
            %li
              Subtotal
              %span $ 750.0
            %li
              Total
              %span $ 750.0
          %a.primary-btn{:href => "/products/checkout"} Proceed to checkout