%section.checkout.spad
  .container
    %form.checkout__form{:action => "#"}
      .row
        .col-lg-8
          %h5 Billing detail
          .row
            .col-lg-12
              .checkout__form__input
                %p
                  Full Name
                  %span *
                %input{:type => "text"}/
            .col-lg-12
              .checkout__form__input
                %p
                  Address
                  %span *
                %input{:type => "text"}/
            .col-lg-6.col-md-6.col-sm-6
              .checkout__form__input
                %p
                  Phone
                  %span *
                %input{:type => "number"}/
            .col-lg-6.col-md-6.col-sm-6.hidden
              .checkout__form__input
                %p
                  Email
                  %span *
                %input{:type => "text"}/
            .col-lg-12
              .checkout__form__input
                %p
                  Oder notes
                  %span *
                %input{:placeholder => "Note about your order, e.g, special noe for delivery", :type => "text"}/
        .col-lg-4
          .checkout__order
            %h5 Your order
            .checkout__order__product
              %ul.js-checkout
                %li
                  %span.top__text Product
                  %span.top__text__right Total

            .checkout__order__total
              %ul
                %li
                  Total
                  %span.js-total-price 0 VNÄ
            %button.site-btn{:type => "submit"} Place oder