- content_for(:tab, "products")

%section.shop.spad
  .container
    .row
      .col-lg-3.col-md-3
        .shop__sidebar
          .sidebar__categories
            .section-title
              %h4 Categories
            .categories__accordion
              #accordionExample.accordion
                - Category.all.each do |cate|
                  .card
                    %h4.categories_text{class: current_tab(cate.code, params[:code])}=link_to cate.name, products_path(code: cate.code)
      .col-lg-9.col-md-9
        .row
          = render partial: 'product', collection: @products, as: :product

          .col-lg-12.pagination-box
            = paginate @products