- content_for(:tab, "products")

%section.shop.spad
  .container
    .row
      .col-lg-3.col-md-3
        .shop__sidebar
          .sidebar__categories
            .section-title
              %h4 Categories
            .categories__accordion
              #accordionExample.accordion
                - Category.all.each do |cate|
                  .card
                    .card-heading
                      = link_to cate.name, products_path(category_code: cate.code)
      .col-lg-9.col-md-9
        .row
          = render partial: 'product', collection: Product.all, as: :product

          .col-lg-12.text-center
            .pagination__option
              %a{:href => "#"} 1
              %a{:href => "#"} 2
              %a{:href => "#"} 3
              %a{:href => "#"}
                = image_tag("next_page.png", alt: 'seacrh', width: "10px", height: "14px")
.instagram
  .container-fluid
    .row
      .col-lg-2.col-md-4.col-sm-4.p-0
        .instagram__item.set-bg{"data-setbg" => "/ashion/img/instagram/insta-1.jpg"}
          .instagram__text
            %i.fa.fa-instagram
            %a{:href => "#"} @ ashion_shop
      .col-lg-2.col-md-4.col-sm-4.p-0
        .instagram__item.set-bg{"data-setbg" => "/ashion/img/instagram/insta-2.jpg"}
          .instagram__text
            %i.fa.fa-instagram
            %a{:href => "#"} @ ashion_shop
      .col-lg-2.col-md-4.col-sm-4.p-0
        .instagram__item.set-bg{"data-setbg" => "/ashion/img/instagram/insta-3.jpg"}
          .instagram__text
            %i.fa.fa-instagram
            %a{:href => "#"} @ ashion_shop
      .col-lg-2.col-md-4.col-sm-4.p-0
        .instagram__item.set-bg{"data-setbg" => "/ashion/img/instagram/insta-4.jpg"}
          .instagram__text
            %i.fa.fa-instagram
            %a{:href => "#"} @ ashion_shop
      .col-lg-2.col-md-4.col-sm-4.p-0
        .instagram__item.set-bg{"data-setbg" => "/ashion/img/instagram/insta-5.jpg"}
          .instagram__text
            %i.fa.fa-instagram
            %a{:href => "#"} @ ashion_shop
      .col-lg-2.col-md-4.col-sm-4.p-0
        .instagram__item.set-bg{"data-setbg" => "/ashion/img/instagram/insta-6.jpg"}
          .instagram__text
            %i.fa.fa-instagram
            %a{:href => "#"} @ ashion_shop
