- content_for(:tab, "products")

%section.product-details.spad
  .container
    .row
      .col-lg-6
        .product__details__pic
          =image_tag(@product.image_url, width: '450px')
      .col-lg-6
        .product__details__text
          %h3
            = @product.name
            %span="Category: #{@product.category_name}"
          .product__details__price
            - if @product.discount
              =number_to_currency(@product.amount, unit: "VNĐ", separator: ",", delimiter: ".", format: "%n %u")
              %span=number_to_currency(@product.amount, unit: "VNĐ", separator: ",", delimiter: ".", format: "%n %u")
            - else
              =number_to_currency(@product.amount, unit: "VNĐ", separator: ",", delimiter: ".", format: "%n %u")
          %p=@product.description
          .product__details__button
            .quantity
              %span Quantity:
              .pro-qty
                %input.js-quantity{:type => "number", min: "1", :value => "1"}/
            %a.cart-btn.js-btn-cart{'data' => product_json(@product)}
              = image_tag("cart2.png", alt: 'seacrh', width: "14px", height: "16px")
              Add to cart
      .col-lg-12
        .product__details__tab
          %ul.nav.nav-tabs{:role => "tablist"}
            %li.nav-item
              %a.nav-link.active{"data-toggle" => "tab", :href => "#tabs-1", :role => "tab"} Description
          .tab-content
            #tabs-1.tab-pane.active{:role => "tabpanel"}
              %h6 Description
              %p=@product.description
    .row
      .col-lg-12.text-center
        .related__title
          %h5 RELATED PRODUCTS
      = render partial: 'product_relate', collection: Product.with_category(@product.category_code).sample(8), as: :product