%footer.footer
  .container
    .row
      .col-lg-4.col-md-6.col-sm-7
        .footer__about
          .footer__logo
            %a{:href => "./index.html"}
              %img{:alt => "", :src => app_setting.logo.url, width: "#{app_setting.width_logo}px", height: "#{app_setting.height_logo}px" }
          %p=app_setting.description
      .col-lg-2.col-md-3.col-sm-5
        .footer__widget
          %h6 Quick links
          %ul
            %li
              %a{:href => "#"} About
            %li
              %a{:href => "#"} Blogs
            %li
              %a{:href => "#"} Contact
            %li
              %a{:href => "#"} FAQ
      .col-lg-2.col-md-3.col-sm-4
        .footer__widget
          %h6 Account
          %ul
            %li
              %a{:href => "#"} My Account
            %li
              %a{:href => "#"} Orders Tracking
            %li
              %a{:href => "#"} Checkout
            %li
              %a{:href => "#"} Wishlist
      .col-lg-4.col-md-8.col-sm-8
        .footer__newslatter
          %h6 NEWSLETTER
          %form{:action => "#"}
            %input{:placeholder => "Email", :type => "text"}/
            %button.site-btn{:type => "submit"} Subscribe
    .row
      .col-lg-12
        .footer__copyright__text
          %p
            Copyright ©
            :javascript
              document.write(new Date().getFullYear());
            All rights reserved | This template is modify by nguyenthanhcong
            -
            %a{:href => "https://github.com/nguyenthanhcong101096/spa", :target => "_blank"} Github