- @tab = local_assigns[:tab]

%header.header
  .container-fluid
    .row
      .col-xl-3.col-lg-2
        .header__logo
          %a{:href => "/"}
            %img{:alt => "", :src => app_setting.logo_url, width: "#{app_setting.width_logo}px", height: "#{app_setting.height_logo}px" }/
      .col-xl-6.col-lg-7
        %nav.header__menu
          %ul
            %li{class: current_tab("home", @tab)}
              %a{:href => "/"} Home
            %li{class: current_tab("products", @tab)}
              %a{:href => "/products"} Products
            %li{class: current_tab("cart", @tab)}
              %a{:href => "/products/cart"} Shop Cart
            %li{class: current_tab("contact", @tab)}
              %a{:href => "/contact"} Contact
      .col-lg-3
        .header__right
          %ul.header__right__widget
            %li
              %span.search-switch
                = image_tag("search.png", alt: 'seacrh', width: "20px", height: "20px")
            %li
              %a{:href => "/products/cart"}
                = image_tag("cart.png", alt: 'seacrh', width: "18px", height: "20px")
                .tip.number-cart.hidden 2
    .canvas__open
      =image_tag("/ashion/img/menu.png", height: "20px", width: "20px")