#preloder
  .loader
.offcanvas-menu-overlay
.offcanvas-menu-wrapper
  .offcanvas__close +
  %ul.offcanvas__widget
    %li
      = image_tag("search.png", alt: 'seacrh', width: "20px", height: "20px", class: 'search-switch')
    %li
      %a{:href => "/products/cart"}
        = image_tag("cart.png", alt: 'seacrh', width: "18px", height: "20px")
        .tip 2
  .offcanvas__logo
    %a{:href => "/"}
      %img{:alt => "", :src => app_setting.logo_url, width: "#{app_setting.width_logo}px", height: "#{app_setting.height_logo}px" }
  #mobile-menu-wrap
  .offcanvas__auth
    %a{:href => "/"} Home
    %a{:href => "/products"} Products
    %a{:href => "/products/cart"} Shop Cart
    %a{:href => "/contact"} Contact
