%script{:src => "/ashion/js/jquery-3.3.1.min.js"}
  %script{:src => "/ashion/js/bootstrap.min.js+jquery.magnific-popup.min.js.pagespeed.jc.daGAL4o1Pf.js"}
  %script{:src => "/ashion/js/jquery-ui.min.js"}
  %script{:src => "/ashion/js/mixitup.min.js"}
  %script{:src => "/ashion/js/jquery.countdown.min.js+jquery.slicknav.js+owl.carousel.min.js.pagespeed.jc.18IAooX3Fq.js"}
  %script{:src => "/ashion/js/jquery.nicescroll.min.js"}
  %script{:src => "/ashion/js/main.js"}