.search-model
  .h-100.d-flex.align-items-center.justify-content-center
    .search-close-switch +
    %form.search-model-form
      %input#search-input{:placeholder => "Search here.....", :type => "text"}/